@charset "UTF-8"

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    
}
* { 
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgreen;
}
a.externo::after {
    content: '\00a0\1f517';
}
header{
    background-image: linear-gradient(to top, #72bfb2, #00223c);
    color: white;
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}
header >  h1{ 
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}
header > p {
    max-width: 600px;
    padding-right: 10x;
    padding-left: 10px;
    margin: auto;
}
nav { 
    padding: 10px;
    text-align: left;
    margin: auto;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    box-shadow: 1px 1px 3px #31514c;
}
nav > a:hover { 
    background-color: #31514c;
    transition-duration: 0.7s;
}
main{
    background-color: white;
    padding: 20px;
    border-radius: 0px  0px 10px 10px;
    box-shadow: 0px 0px 10px black;

    min-width: 300px;
    max-width: 800px;
    margin: auto;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    background-color: #31514c;
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main > h1 {
    font-family: 'idroid','Times New Roman', Times, serif;
    color: green;
} 
main > h2 {
    background-image: linear-gradient(to right, rgb(169, 202, 169), rgb(219, 225, 213));
    color: green;
}
main p { 
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8em;
    font-size: 1.05em;
}
main strong { 
    color: #31514c;
    font-weight: bold;
}
main a {
    background-color:#5fc994;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: black;
}
section {
    background-color: lightgreen;
    margin: 20px 20px 20px 20px;
   padding: 20px;
   border-radius: 20px;
}
section > ul{
    columns: 2;
    list-style-type: '\2714\00a0\00a0';
}
section > h1 {
    background-color: green;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px;
}
footer { background-color: black;
color: white;
text-align: center;
}